html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 00;
	height: 100%;
	width: 100%;
	color: #444;

}

.header {
	background: #3F4137;
	height: 60px;
}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}
ul.mainmenu li.logo {margin: 0;}
/*ul.mainmenu li.last {float: right;}*/

ul.mainmenu li a {
	color: #fdc073;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}

.logo {
	background: url('../images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}

/*ul.mainmenu li.last {float: right;}*/

.clear {clear: both;}

/* Стилизация контейнера меню */
.menu-container {
    width: 200px; /* Ширина меню */
    background-color: #f4f4f4; /* Цвет фона */
    border: 1px solid #ccc; /* Граница */
    border-radius: 8px; /* Скругление углов */
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
}

/* Стилизация списка */
.vertical-menu {
    list-style-type: none; /* Убираем маркеры */
    padding: 0;
    margin: 0;
}

/* Стилизация пунктов меню */
.vertical-menu li {
    margin-bottom: 5px; /* Отступ между пунктами */
}

/* Стилизация ссылок */
.vertical-menu a {
    display: block;
    text-decoration: none; /* Убираем подчеркивание */
    color: #333; /* Цвет текста */
    padding: 10px;
    background-color: #fff; /* Цвет фона ссылки */
    border: 1px solid #ddd; /* Граница */
    border-radius: 4px; /* Скругление углов */
    transition: background-color 0.3s ease; /* Плавный переход при наведении */
}

/* Эффект при наведении */
.vertical-menu a:hover {
    background-color: #007bff; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}